doctype html 
html 
    head 
     title The Dance Academy  
     style
        include ../static/c_project_3.css 
body 
    nav#navbar
        ul
             div#logo
                img(src="/static/img/logo.png")
                |TDA
             li #[a(href = "/") Home]
             li #[a(href = "/") About]
             li #[a(href = "/") Services]
             li #[a(href = "/") Class Info]
             li #[a(href = "/contact") Contact Us]

    section#introSection
        div Welcome to The Dance Academy
        div.small Follow your own rhythm.

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
             div.card-box
                div.card-img
                    img(src="/static/img/d1.png")
                div.card-content
                    p This is the best dance academy
        div.card
            h3 Dance the way you like
             div.card-box
                div.card-img
                    img(src="/static/img/d2.png")
                div.card-content
                    p This is the best dance academy
        div.card
            h3 Expert Teaching
             div.card-box
                div.card-img
                    img(src="/static/img/d3.png")
                div.card-content
                    p This is the best dance academy

    section#sponsorSection
        h2 Our sponsor
        div#sponsors
            img(src="/static/img/S1.png", alt="Sponsor Image", Class="spImage")
            img(src="/static/img/S2.png", alt="Sponsor Image", Class="spImage")
            img(src="/static/img/S3.png", alt="Sponsor Image", Class="spImage")
            img(src="/static/img/S4.jpg", alt="Sponsor Image", Class="spImage")

    section#footer
        | Copyright © 2022 The Dance Academy.com |All right reserved

    script
        include ../static/index.js